/* #titulos{
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin: 0;
} */
#sec_titulos{
    margin-bottom: 10px;
}

body{
    height: 100%;
    width: 100%;
}
section{
    margin-bottom: 42px;
}
#pag1{
    width: calc(100% - 24px);
    /* margin-left: 24px; */
}
main{
    position: relative;
    margin: auto;
    max-width: 1116px;
}
hr{
    width: calc(100% - 2px);
    border-color: #F2F2F2;
}
#cta_wpp, #cta_avaliar, #cta_wpp_pag_laranja{
    background-color: var(--cor-principal);
    color: #fff;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    width: calc(100% - 48px);
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;

    margin: 0 auto;
}
#nome_oficina{
    font-family: 'Sora';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #6B6B6B;
}
#cta_avaliar, #cta_wpp_pag_laranja{
    width: 100%;
    margin-top: 20px;
}

/* ----------------- SESSÃO DE OFICICNAS ----------------- */
#oficinas{
    align-items: center;
    width: calc(100% - 24px);
    padding-left: 24px;
    margin-top: 1em;
}
#carrossel{
    display: flex;
    width: 100%;
    /* margin-top: 20px; */
}
.carrossel_oficinas{
    /* width: calc(100% - 24px); */
    justify-self: start;
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 0 0px 0px 0;
}
#infos_oficina p{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
#horario, #telefone-oficina{
    display: flex;
    align-items: center;
    gap: 6px;

    margin-top: 1em;

    font-family: 'Gothic A1';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}
#horario span:nth-child(2){
    font-weight: bolder;
}

#redes_sociais{
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
}
.box_redes-sociais{
    height: 42px;
    width: 30%;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#acoes{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}
#acoes div{
    display: flex;
    align-items: center;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    gap: 5px;

    cursor: pointer;
}


.img_ofc{
    width: 342px;
    height: 300px;
    border-radius: 24px;
}
.modal_oficina{
    background: linear-gradient(180deg, rgba(26, 26, 26, 9e-05) 0%, rgba(26, 26, 26, 0.765) 100%);
    width: 342px;
    height: 300px;
    position: absolute;
    top: 0;
    border-radius: 24px;
}
.carrossel_infos{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}
.nome_oficina{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.local_oficina{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.avaliacao_oficinas{
    display: flex;
}
.star-icon_oficinas{
    list-style-type: none;
    border: 1px solid none;
    cursor: pointer;
    color: var(--cor-principal);
    /* font-size: 20px; */
    margin-right: 5px;
    /* width: 10px; */
}
.star-icon_oficinas img{
    width: 20px;
}
#oficinas nav{
    display: flex;
    overflow: auto;
    width: 100%;
    max-width: 500px;
    justify-self: center;
}
#oficinas nav div{
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    height: 32px;
    border-radius: 24px;
    margin-left: 10px;
    margin-right: 24px;
    /* padding: 2px 10px 2px 10px; */

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
#oficinas nav div:nth-child(1){
    background-color: var(--cor-principal);
    margin-left: 0;
}
#localizacao{
    margin: 2em 0;
}
#oficinas_parceiras{
    margin-top: 25px;
}
/* #ver_mais-produtos{
    margin-right: 24px;
} */
#tipos_oficinas{
    width: 100%;
    margin-top: 20px;
}
#ofc_carros, #ofc_bikes{
    display: none;
}
.tipos_ofc{
    width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
}
.content_oficinas, .content_produtos{
    width: 152px;
    margin: auto;
}
.content_oficinas p{
    display: -webkit-box;
    max-width: 400px;
    /* height: 100%; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.espec_oficinas{
    width: 168px;
}
.espec_oficinas img{
    border-radius: 12px;
}
.espec_oficinas h5{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    white-space: nowrap;
    width: 100%;
    max-width: 152px;
    overflow: hidden;  
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #727272;
}
#oficinas button{
    border: 3px solid var(--cor-principal);
    background-color: #fff;
    border-radius: 100px;
    height: 100%;
    width: calc(100% - 24px);
    justify-self: start;
    color: var(--cor-principal);
    font-weight: 400;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
}

/* ----------------- SESSÃO DE SERVIÇOS ----------------- */
#titulos_servicos, #titulos_produtos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
#titulo_avaliacao .legenda{
    margin-top: 0;
}
#titulos_servicos button,
#titulos_produtos button{
    width: 30%;
    max-width: 200px;
    background-color: #F2F2F2;
    height: 36px;
    border-radius: 24px;
    padding: 2px 10px 2px 10px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0F0F0F;

    border: none;
    outline: none;

    display: flex;
    align-items: center;
    align-self: end;
    justify-self: center;
    justify-content: center;
}
#box_servicos{
    flex-direction: column;
    /* align-items: center; */
}
.melhores-servicos{
    max-width: 800px;
    margin: auto;
}
/* .melhores-servicos{
    display: grid;
    grid-template-rows: 24px 48px;
    grid-template-columns: 20% 50% 30%;
    column-gap: 10px;

    margin-top: 20px;

    height: auto;
    max-width: 480px;

    border-bottom: 1px solid #0F0F0F;
}
.melhores-servicos h5{
    grid-column: 2;
    grid-row: 1;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.melhores-servicos button{
    grid-column: 3;
    grid-row: 1;
    margin-right: 0;

    justify-self: center;

    height: 28px;
    width: 76px;
    border-radius: 4px;

    outline: none;
    border: none;

    background: var(--cor-principal);

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.melhores-servicos p{
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row: 2;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
} */
#foto-servico{
    grid-column: 1;
    grid-row: 1 2;

    border-radius: 12px;
}
#favorito{
    grid-column: 3;
    grid-row: 2;

    align-self: center;
    justify-self: end;
    margin-right: 24px;
}


/* ----------------- SESSÃO DE PRODUTOS ----------------- */
.produtos_destaque{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    overflow: auto;
    margin-top: 20px;
}
.produto{
    width: 170px;
    /* margin-right: 20px; */
}
.produtos_destaque img{
    border-radius: 12px;
}
.foto-carousel{
    width: 152px;
    height: 152px;
}
.produtos_destaque h5{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #0F0F0F;
    
    margin-top: 5px;
    margin-bottom: 5px;
}
.produtos_destaque span{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.avaliacao_produtos{
    display: flex;
    /* margin-top: 1em; */
    /* width: 10%; */
}
.star-icon_produtos{
    list-style-type: none;
    border: 1px solid none;
    cursor: pointer;
    color: var(--cor-principal);
    /* font-size: 20px; */
    margin-right: 5px;
    /* width: 10px; */
}
.star-icon_produtos img{
    width: 20px;
}


address span{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
address{
    width: 278px;
    margin: 10px 0;
}
.mapa_oficina{
    width: 100%;
    height: 222px;
    border-radius: 12px;
}


#sec_avaliacao{
    margin: 20px 0;
}
#head_avaliacao{
    display: flex;
    justify-content: space-between;
}
#nota > div{
    display: flex;
    gap: 5px;
}
#nota{
    margin: 10px 0;
}
#nota span:nth-child(1){
    font-family: Sora;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--cor-principal);
}
#nota span{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #727272;
}
/* #box_avaliacoes{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
} */
#ver_mais_avaliacao{
    align-self: center;
}
#tipo_avaliacao{
    margin: .5em 0;
    display: flex;
    justify-content: space-between;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    /* identical to box height, or 118% */

    color: #6B6B6B;
}
#tipo_avaliacao div{
    width: 33.3333333%;
    border-bottom: 1px solid #5e5e5e;
    cursor: pointer;
}
#tipo_avaliacao div:nth-child(1){
    border-bottom: 2px solid var(--cor-principal);
}
#avaliacao{
    display: flex;
    /* display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 24px 132px 24px; */
    column-gap: 4%;
    margin-top: 16px;
}
.infos_av{
    display: flex;
    flex-direction: column;
}
.foto_avaliacao{
    /* grid-column: 1; */
    width: 100%;
    max-width: 200px;
    height: 180px;
    border-radius: 12px;
}
#avaliacao span, #avaliacao p, #avaliacao div{
    grid-column: 2;
}
#avaliacao span{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
#avaliacao p{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #727272;
    height: 120px;

    /* white-space: nowrap; */
    /* width: 100%; */
    overflow: hidden;  
    text-overflow: ellipsis;
}
#estrelas_avaliacao{
    height: 16px;
}

#carac, #desc{
    margin-top: 1.5em;
}

.nota_titulo{
    display: flex;
    margin-top: 5px;
}
.nota_titulo span{
    font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #5e5e5e;
}
/* .nome-oficina{
    color: var(--cor-principal);
} */
@media screen and (min-width: 481px) {
    #acoes{
        justify-content: space-around;
    }
    .mapa_oficina{
        height: 300px;
    }
    #cta_wpp{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        right: 50px;
        transition: 1s ease-out;
    }
    #cta_wpp span{
        display: none;
    }
    #cta_wpp:hover{
        width: 400px;
        border-radius: 12px;
    }
    #cta_wpp:hover span{
        display: block;
    }
}

.foto-perfil-oficina{
    /* width: 100%;
    height: 100%; */
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

/* #titulo-anunciante, .box-anunciante{
    margin-top: 1em;
} */
#anunciante{
    margin-bottom: 1em !important;
}

.sec-avalia{
    padding-top: 10px;
}
.info-avalia{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
#avaliacao{
    position: relative;
}
.estrelas_avaliacao{
    position: absolute;
    bottom: 10px;
}