h3{
    font-weight: bolder;
        font-family: "Sora", sans-serif;
        font-size: 1.5rem; 
        margin-bottom: 32px;
}

.produto{
    height: 130px;
    width: 130px;
    border-radius: 12px;
    align-self: center;
    grid-row: 2;
    margin: 20px;
}

.tinta{
    font-weight: 600;
    font-family: 'Sora', sans-serif;
    align-self: end;
    grid-column: 2;
    grid-row: 1;
}

.preco{
    font-weight: 700;
    font-family: "Sora", sans-serif;
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;


}
.btn_box{
    
    border: 2px solid #FF8500;
    background-color: #fff;
    /* margin-bottom: 50px; */
    font-size: 13px;
    width: 90px;
    height: 35px;
   grid-row: 3;
   grid-column: 2;
    align-self: start;
    
    
}
#Editar{
    
    border-radius: 100px;

    
    justify-self: start;
    color: #FF8500;
    font-weight: bolder;
    
    font-family: 'Gothic A1', sans-serif;
    justify-self: end;

    

}
#copiarLink{
    
    background-color: #fff;
    border-radius: 100px;
    
    justify-self: start;
    color: #FF8500;
    font-weight: bolder;
    font-family: 'Gothic A1', sans-serif;
    /* margin-right: 10px; */
}
#adicionarProduto{
    border: 3px solid #FF8500;
    background-color: #fff;
    border-radius: 10px;
    height: 5%;
    width: 100px;
    color: #FF8500;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    /* position: absolute;
    bottom: 0;
    display: flex;
    justify-self: center;
justify-content: center;
align-items: center; */
}

/* section{
width: calc(100% - 48px);
padding: 24px;
} */
.box_produto{
    background-color: #f2f2f2;
border-radius: 12px;
    margin-top: 20px;
height: 170px;
width: 100%;
display: grid;
grid-template-columns: 150px 190px ;
grid-template-rows: 60px 30px 50px;
column-gap: 20px;
row-gap: 9px;

}
main{
    max-width: 700px;
    /* margin: 10px auto auto auto; */
}
.btn {
    border-radius: 12px;
    border: none;
    background-color: white;
    color: #FF8500;
    border: 3px solid #FF8500;
    height: 60px;
    width: calc(100% - 32px);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Sora", sans-serif;

    position: fixed;
    bottom: 50px;
  }
  .btn span{
    font-size: 20px;
  }
  main > section{
    width: calc(100% - 32px);
}
#btns{
    display: flex;
}
