<div id="modal_box">

    <div id="dados_usuario">
        <div class="foto">
            <div id="inputs_foto">
                <div class="circle_foto">
                    <img src="/img/foto-padrao.svg" alt="" id="foto_padrao">
                </div>
            </div>
        </div>
        <div class="opcoes_dados-usuario">
            <img src="/img/user_icon_branco.svg" alt="">
            <h3 class="nome_usuario"><a href="/login">Login / Criar Conta</a></h3>
        </div>
    </div>

    <hr>
</div>
</div>