<header id="normal_header">
    <div id="fixed">
        <a href="/"><img src="img/Logo Oficinas Web 1 1.svg" alt="" class="logotipo"></a>
        
        <div id="container-pesquisa" class="container_fixed">
            <div id="pesquisa">
                <img src="img/pesquisa-icon.svg" alt="" class="pesquisa_img">
                <input type="search" name="barra-pesquisa" id="barra-pesquisa" placeholder="Estou buscando...">
                <div id="filtro-s" class="filtro-s filtro"><img src="img/filtro-icon.svg" alt=""></div>
            </div>
        </div>
    </div>
</header>

<div id="topo" class="topo"></div>