<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Nova Senha</title>

  <!-- LINKS CSS -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/recuperarSenha.css">
  <link rel="stylesheet" href="css/novaSenha.css">

  <!-- LINKS PARA O GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- FONTS -->
  <!-- GOTHIC-A1 -->
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
  <!-- SORA -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sora:wght@400;600&display=swap"
    rel="stylesheet">

  <!-- LINKS JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#cont_nova-senha').click(function () {
        $('.pop-up').css('display', 'flex');
        $('#modal').show();
      })
    })
  </script>


</head>

<body>

  <div id="container">
    <div id="modal"></div>
    <header id="normal_header">
      <div id="fixed">
        <a href="index.html"><img src="img/Logo Oficinas Web 1 1.svg" alt="" class="logotipo"></a>
  
      </div>
    </header>
  
    <div id="topo" class="topo"></div>
  
  
    <section class="saiba-mais">
      <div id="modal_saiba-mais"></div>
      <div id="container_saiba-mais">
        <img src="img/Logo Oficinas Web 1 1.svg" alt="">
        <h1>Busca um Mecânico?</h1>
        <p>
          Na plataforma voce encontra o mecanico mais proximo da sua residencia com a melhor qualidade e com os melhores
          preços do mercado.
        </p>
        <br>
        <p>
          Alem disso você encontra produtos e serviços de acordo com a sua necessidade com aquele preçinho camarada que a
          gente gosta.
        </p>
        <div>
          <a href="./todas_oficinas.html"><button id="ver-oficinas">Ver Oficinas</button></a>
          <a href="./todos_produtos.html"><button id="ver-produtos">Ver Produtos</button></a>
        </div>
        <div id="menu-inf">
          <ul>
            <li class="shadow_btn"><a href="./index.html">Home</a></li>
            <li class="shadow_btn"><a href="./planos.html">Planos</a></li>
            <li class="shadow_btn"><a href="./todas_oficinas.html">Oficinas</a></li>
            <li class="shadow_btn"><a href="./todos_produtos.html">Produtos</a></li>
          </ul>
        </div>
      </div>
    </section>
  
    <main>
      <section>
        <div id="line_orange"></div>
        <div class="titulo_arrow">
          <img src="img/arrow_left.svg" alt="flecha virada para esquerda" onclick="window.history.back()">
          <h1 class="titulo"> Criar Nova Senha </h1>
        </div>
  
        <div class="divCadeado">
          <img src="img/cadeado_icon.svg" alt="icone cadeado">
        </div>
  
        <div class="titulo">Criar Sua Nova Senha:</div>
        <form action="" method="post">
  
          <div class="inputs-container">
            <div class="input-icon" id="senha-icon"><img src="img/senha-icon.svg" alt=""></div>
            <input type="password" name="Senha" placeholder="Senha" id="password" class="inputs inputs_with_icon"
              required>
            <img src="img/mostrar-senha.svg" id="icon-mostrar-senha" alt="">
          </div>
  
          <div class="inputs-container">
            <div class="input-icon" id="senha-icon"><img src="img/senha-icon.svg" alt=""></div>
            <input type="password" name="Senha" placeholder="Repitir Senha" id="password-r"
              class="inputs inputs_with_icon" required>
            <img src="img/mostrar-senha.svg" id="icon-mostrar-senha-r" alt="">
          </div>
  
          <button class="btn default_btn" id="cont_nova-senha"> <span>Continuar</span> </button>
  
        </form>
  
        <div class="pop-up">
          <img src="img/img_pop-up.svg" alt="">
          <h3>Concluido!</h3>
  
          <p>Sua conta já está pronta para usar</p>
  
          <button class="primeira-opcao-btn"><a href="./planos.html">Ir para a Home</a></button>
          <button class="segunda-opcao-btn"><a href="./index.html">Depois</a></button>
        </div>
  
      </section>
    </main> 
    <script src="js/script_nova-senha.js"></script>
  </div>

</body>

</html>