<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Planos</title>

    <!-- LINKS CSS -->
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/stylePlanos.css">

    <!-- LINKS PARA O GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTS -->
    <!-- GOTHIC-A1 -->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
    <!-- SORA -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sora:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- LINKS JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script_menu.js"></script>

    <script>
        $(document).ready(function () {
            $(".primeira-opcao-btn").click(function(){
                $('.pop-up').css('display', 'none');
                $('#modal-cad').hide();
            })
        })
    </script>

</head>

<body>
    <% if(cadastrado == true) {%>
        <div id="modal-cad"></div>
    <% } %>
    
    <%- include('../partial/normalHeader.ejs') %>

    <main>

        <section>
            <div>
                <div id="container_plan">
                    <div class="titulo_arrow">
                        <img src="img/arrow_left.svg" alt="flecha virada para esquerda" onclick="window.history.back()">
                        <h1 class="titulo"> Planos </h1>
                    </div>
                    <div id="all_plans">
                        <div class="plans" id="basico">
                            <h5>Básico</h5>
                            <div class="informations_plans">
                                <ul>
                                    <h3>Gratuito</h3>
                                    <li><span>3 produtos</span></li>
                                    <li><span>2 serviços</span></li>
                                    <li><span><s>Perfil da oficina</s></span></li>
                                </ul>
                                <form action="/basico" method="post"><a href="/pagamento"><button class="shadow_btn" id="btn-gratuito">Assinar</button></a></form>
                            </div>
                        </div>

                        <div class="plans" id="prata">
                            <div class="rank_plans">
                                <h5>Prata</h5>
                                <img src="img/flag_silver.svg" alt="rank bronze">
                            </div>
                            <div class="informations_plans">
                                <ul>
                                    <h3>R$ 29,90 <span>/ Mês</span></h3>
                                    <li><mark>Avaliação de 30 dias</mark></li>
                                    <li><span>Perfil da oficina</span></li>
                                    <li><span>Visibiladade baixa</span></li>
                                    <li><span>10 serviços</span></li>
                                </ul>
                                <form action="/prata" method="post"><a href="/pagamento"><button class="shadow_btn">Assinar</button></a></form>
                            </div>
                        </div>

                        <div class="plans" id="ouro">
                            <div class="rank_plans silver">
                                <h5>Ouro</h5>
                                <img src="img/flag_gold.svg" alt="rank prata">
                            </div>
                            <div class="informations_plans">
                                <ul>
                                    <h3>R$ 39,90 <span>/ Mês</span></h3>
                                    <li><mark>Avaliação de 30 dias</mark></li>
                                    <li><span>Perfil da oficina</span></li>
                                    <li><span>Visibiladade média</span></li>
                                    <li><span>20 serviços</span></li>
                                </ul>
                                <form action="/ouro" method="post"><a href="/pagamento"><button class="shadow_btn">Assinar</button></a></form>
                            </div>
                        </div>

                        <div class="plans" id="diamante">
                            <div class="rank_plans gold">
                                <h5>Diamante</h5>
                                <img src="img/flag_dima.svg" alt="rank ouro">
                            </div>
                            <div class="informations_plans">
                                <ul>
                                    <h3>R$ 59,90 <span>/ Mês</span></h3>
                                    <li><mark>Avaliação de 30 dias</mark></li>
                                    <li><span>Perfil da oficina</span></li>
                                    <li><span>Visibiladade alta</span></li>
                                    <li><span>40 serviços</span></li>
                                </ul>
                                <form action="/dima" method="post"><a href="/pagamento"><button class="shadow_btn">Assinar</button></a></form>
                            </div>
                        </div>

                    </div>

                </div>


        </section>

        <% if(cadastrado == true) {%>
            <div class="pop-up">
                <img src="img/img_pop-up.svg" alt="">
                <h3>Concluido!</h3>

                <p>Otimo! A pagina da sua oficina está
                    pronta, mas voçê ainda não pode
                    ultiliza-la sem ter um plano.</p>

                <button class="primeira-opcao-btn">Ver Planos</button>
                <form action="/default" method="post"><button class="segunda-opcao-btn">Depois</button></form>
            </div> 
        <% } %>


    </main>

</body>

</html>